body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffff8;
    display: grid;
    grid-template-columns: 300px 25px;
    grid-template-rows: 100px 400px 50px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "main main main main main main sd sd"
    "ft ft ft ft ft ft ft ft";
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
}

#header{
    border: 3px solid blue;
    background-color: #333;
    color: white;
    padding: 10px 0;
    grid-area: hd;
    padding: 10px
}

#footer {
    border: 3px solid blue;
    background-color: #333;
    color: white;
    padding: 10px 0;
    grid-area: ft;
    padding: 10px;
}

#content {
    border: 3px solid red;
    padding: 20px;
    grid-area: main;
}

#sidebar {
    border: 3px solid yellow;
    background-color: #ddd;
    padding: 20px;
    grid-area: sd;
}

.post {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}