form {
    width: 90%; /* Form takes 90% of its container's width */
    height: 90%;
    margin: 0 auto; /* Center the form in the container */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Spacing between form elements */
    background-color: darkgray;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

textarea {
    width: 100%; /* Make inputs and buttons fill the form */
    padding: 10px; /* Padding for better appearance */
    box-sizing: border-box;
    min-height: 100px;
    height: 100%;
    resize: vertical;
}