.post {
    background-color: lightblue;
    padding: 15px;
    color: mediumseagreen;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.post img {
    height: 60px;
    width:100px;
}