nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav button {
    background-color: darkgoldenrod;
}

nav a {
    color: white;
    text-decoration: none;
}